@import url(../base.css);

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  top: 0;
  border-bottom: var(--c-navy) 3px solid;

  width: 100%;

  background-color: var(--c-background);
  z-index: 10;
}

.menu {
  color: var(--c-main);
  display: block;
  list-style: none;
}

.menuItem {
  display: inline;
  padding: 0 16px;
}

.menuLink {
  font-family: "SpaceGrotesk", Tahoma, Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
}

.menuIcon {
  display: inline;
  margin-top: 12px;
  width: 28px;
  height: 28px;
  transition: all .1s linear;
}

.menuIcon:hover {
  transform: scale(1.2);
} 

.logo {
  margin: 0 auto;
}

/* Hamburger */

.hamburger {
  width: 45px;
  float: right;
  margin-right: 30px;
}

.hamburgerLine {
  width: 42px;
  height: 5px;
  background-color: white;
  border: 3px solid black;
  transition: 0.2s;
  margin: 3px 0;
}

.active .line1 {
  width: 44px;
  transform: rotate(45deg) translate(10px, 10px);
}

.active .line2 {
  opacity: 0;
}

.active .line3 {
  width: 45px;
  transform: rotate(-45deg) translate(10px, -10px);
}

@media screen and (min-width: 1024px) {

}

  
