.navigation {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  height: 20vh;
  max-height: 60px;
  width: 100%;
  font-size: 1.25em;
  color: black;
  z-index: 10;
}

.navigationBar {
  padding-top: 20px;
  height: 100px;
}

.menu {
  display: none;
}

.menuItem {
  padding: 0 40px;
}

.menuLink {
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
}

.logo {
  position: absolute;
  width: 45px;
  margin-left: 30px;
  transition: .3s;
}

/* Hamburger */

.hamburger {
  width: 45px;
  float: right;
  margin-top: 10px;
  margin-right: 30px;
}

.hamburgerLine {
  width: 42px;
  height: 5px;
  background-color: white;
  border: 3px solid black;
  transition: 0.2s;
  margin: 3px 0;
}

.active .line1 {
  width: 44px;
  transform: rotate(45deg) translate(10px, 10px);
}

.active .line2 {
  opacity: 0;
}

.active .line3 {
  width: 45px;
  transform: rotate(-45deg) translate(10px, -10px);
}

@media screen and (min-width: 1024px) {

}

  
