.linkList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: var(--size-gutter);
}

@media (min-width: 768px) {
  .linkList {
    flex-direction: row;
    margin: 3rem var(--size-gutter);
  }

  .linkButton {
    margin: 0;
  }
}
