.articleList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--space-sm);
}

.title,
.subtitle {
  display: block;
  font-size: var(--text-2xl);
  margin: var(--space-sm) 0;
  padding: 0 var(--space-sm);
  font-weight: 700;
  background: var(--black);
}

.subtitle {
  display: inline-block;
  font-size: var(--text-lg);
}

.eventPreview {
  position: relative;
  color: var(--white);
}

.faded {
  opacity: 0.7;
}

.eventPreview:hover:nth-child(3n + 1) {
  color: var(--rouge);
  outline: var(--space-sm) solid var(--rouge);
}
.eventPreview:hover:nth-child(3n + 2) {
  color: var(--geil);
  outline: var(--space-sm) solid var(--geil);
}
.eventPreview:hover:nth-child(3n) {
  color: var(--gruun);
  outline: var(--space-sm) solid var(--gruun);
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  margin: var(--space-lg);
}

.link {
  text-decoration: none;
}

@media (max-width: 480px) {
  .eventPreview {
    margin: 0;
    grid-template-columns: repeat(100px);
  }
}
