@font-face {
  font-family: 'Neue Machina';
  font-weight: 100 300;
  font-named-instance: 'Light';
  src: url('/fonts/NeueMachina-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Machina';
  font-weight: 400 600;
  font-named-instance: 'Regular';
  src: url('/fonts/NeueMachina-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Machina';
  font-weight: 700 900;
  font-named-instance: 'Bold';
  src: url('/fonts/NeueMachina-Ultrabold.otf') format('opentype');
}

@font-face {
  font-family: 'Mixo';
  font-weight: 100 900;
  font-named-instance: 'Regular';
  src: url('/fonts/VTF_Mixo-Regular.otf') format('opentype');
}

html {
  scroll-behavior: smooth;
}

html * {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-body);
  font-size: var(--text-lg);
  font-weight: var(--body);
  line-height: var(--default);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--semibold);
  line-height: var(--dense);
}

p {
  text-align: justify;
}

h1 {
  font-family: var(--font-header);
  font-size: var(--text-5xl);
  margin: var(--text-2xl) auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

a.active {
  font-weight: var(--bold);
}

tt,
code,
kbd {
  background: var(--black-fade-5);
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tt,
code,
kbd {
  font-family: var(--font-monospace);
  font-size: 90%;
}

tt,
code {
  background-color: var(--black-fade-5);
  border-radius: var(--radius-sm);
  font-weight: var(--medium);
  padding: 0.2em 0;
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -0.2em;
}

pre,
code {
  font-family: var(--font-monospace);
}

.display {
  font-family: var(--font-heading);
}

/* Stop scroll when overlay is opened */
.overlayOpen {
  height: 100vh;
  overflow-y: hidden;
}

/* Container */

.container {
  max-width: var(--size-max-width);
  margin: 0 auto;
  padding: var(--size-gutter);
}

.container--highlight {
  background-color: var(--turkwaas);
}



/* two columns layout */
.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--space-lg);
  margin: 0 auto;
  padding-top: var(--size-gutter);
  max-width: var(--size-max-width);
}

.two-columns > * {
  margin: 0 var(--space-lg);
  display: block;
  padding-top: 2rem
}


.two-columns__text {
  border-top: 1px solid var(--black);
}

@media (max-width: 768px) {
  .two-columns {
    grid-template-columns: 1fr;
  }
}

.button {
  background-color: var(--gruun);
  display: inline-block;
  padding: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.button:hover {
  transform: scale(1.05);
}

.linkButton {
  display: inline-block;
  padding: 1rem;
  margin: 2rem;
  font-weight: bold;
  border: 3px solid var(--black);
}


