@font-face {
  font-family: 'Neue Machina';
  font-weight: 100 300;
  font-named-instance: 'Light';
  src: url('/fonts/NeueMachina-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Machina';
  font-weight: 400 600;
  font-named-instance: 'Regular';
  src: url('/fonts/NeueMachina-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Machina';
  font-weight: 700 900;
  font-named-instance: 'Bold';
  src: url('/fonts/NeueMachina-Ultrabold.otf') format('opentype');
}

@font-face {
  font-family: 'Mixo';
  font-weight: 100 900;
  font-named-instance: 'Regular';
  src: url('/fonts/VTF_Mixo-Regular.otf') format('opentype');
}

html {
  scroll-behavior: smooth;
}

html * {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: var(--body);
  line-height: var(--default);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--semibold);
  line-height: var(--dense);
}

a {
  color: currentColor;
  text-decoration: none;
}

a.active {
  font-weight: var(--bold);
}

tt,
code,
kbd {
  background: var(--black-fade-5);
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tt,
code,
kbd {
  font-family: var(--font-monospace);
  font-size: 90%;
}

tt,
code {
  background-color: var(--black-fade-5);
  border-radius: var(--radius-sm);
  font-weight: var(--medium);
  padding: 0.2em 0;
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -0.2em;
}

pre,
code {
  font-family: var(--font-monospace);
}

.display {
  font-family: var(--font-heading);
}

/* Stop scroll when overlay is opened */
.overlayOpen {
  height: 100vh;
  overflow-y: hidden;
}
