.articleList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--space-sm);
}

.title,
.subtitle {
  display: block;
  font-size: var(--text-3xl);
  margin: var(--space-sm) 0;
  padding: 0 var(--space-sm);
  font-weight: 700;
  background: var(--black);
}

.subtitle {
  display: inline-block;
  font-size: var(--text-lg);
}

.projectPreview {
  position: relative;
  color: var(--white);
}

.projectPreview:hover {
  outline: var(--space-sm) solid white;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  margin: var(--space-lg);
}

.link {
  text-decoration: none;
}

@media (max-width: 480px) {
  .eventPreview {
    margin: 0;
    grid-template-columns: repeat(100px);
  }
}


