:root {
  /* primitives */
  /* font-family */
  --font-header: 'Mixo', 'Times New Roman', Times, serif;
  --font-body: 'Neue Machina', -apple-system, Helvetica, Arial, sans-serif;
  --font-monospace: Consolas, 'Liberation Mono', monospace;
  --font-serif: 'Times New Roman', Times, serif;

  /* palette */
  --white: #fff;
  --black: #000;
  --black-fade-5: rgba(0, 0, 0, 0.05);

  /* radii */
  --radius-sm: 4px;

  /* spacing */
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-3xl: 48px;

  /* line-height */
  --solid: 1;
  --dense: 1.25;
  --default: 1.5;
  --loose: 1.75;

  /* font-weight */
  --body: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --heavy: 900;

  /* font-size */
  --text-sm: 14px;
  --text-lg: 18px;
  --text-xl: 24px;
  --text-2xl: 32px;
  --text-3xl: 48px;
  --text-4xl: 64px;
  --text-5xl: 76px;
  --text-xxl: 120px;

  /* tokens */
  /* colors */
  --turkwaas: #1effc8;
  --rouge: #ec003c;
  --geil: #faaf3c;
  --roos: #ff78aa;
  --gruun: #00ff00;
  --peirs: #28003c;
  --background: var(--white);
  --border: var(--black-fade-5);

  /* text */
  /* color */
  --text-color: var(--black);
  /* size */
  --text-lead: var(--text-lg);
  --text-prose: var(--text-lg);
  --text-title: var(--text-3xl);
  /* tracking */
  --text-prose-tracking: -0.011em;

  /* size */
  --size-gutter: var(--space-2xl);
  --size-logo: 8rem;
  --size-max-width: 80rem;
}

@media (min-width: 480px) {
  :root {
    --size-gutter: var(--space-3xl);
  }
}

@media (min-width: 768px) {
  :root {
    --text-lead: var(--text-2xl);
    --text-title: var(--text-xxl);
    --text-prose-tracking: -0.014em;
    --text-prose: var(--text-lg);
  }
}
